<!doctype html>
<html lang="en">
    <head>
		<title>Guessing Game</title>
	</head>
	<body>
        <h1 class="errorHeader">The page you are looking for is not available. A typo, maybe???</h1>
    </body>
</html>
